<header id="top-header">
    <section class="siteName">
      <h1><a href="/" title="Return to home page">Shopping App</a></h1>
    </section>
    <div id="tools">
      <ul>
        <li>Welcome</li>
        <li><a title="Loged in" href="#"> Items </a></li>
        <li><a title="Exit your account" href="#">Logout</a></li>
      </ul>
      
    </div>
  </header>
