<nav>
    <div class="navBar">
        <ul>
        <li><a title="Home page" href="#"> Home </a></li>
          <li><a title="Items list" href="#"> Items </a></li>
          <li><a title="Exit your account" href="#">Logout</a></li>
        </ul>
        
      </div>
</nav>